.modal-wrapp {
    position:fixed;
    width: 100%;
    height:100%;
    background-color:rgba(83, 177, 83, 0.3);
    top:0;
    right: 0;
    display:none;
    z-index: 5;
}
.modal-div{
    position: fixed;
    width: 75%;
    height: 75%;
    background-color: #fff;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
